* {
  box-sizing: border-box;
}

#popup {
  display: block;
}

.popup__wrapper {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup__container {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 100px auto;
  max-width: 100%;
  padding: 20px;
  width: 500px;
  text-align: center;
}

.popup__title {
  font-size: 26px;
  margin-bottom: 15px;
}

.popup__input {
  font-size: 26px;
  margin-bottom: 15px;
  width: 300px;
  border-radius: 39px;
}

.popup__button {
  font-size: 26px;
  margin-bottom: 15px;
  width: 300px;
  background-color: grey;
  border-radius: 39px;
  color: white;
}

.popup__button__cancel {
  font-size: 26px;
  margin-bottom: 15px;
  width: 300px;
  background-color: red;
  border-radius: 39px;
  color: white;
}